---
import Email from "./icons/socials/Email.astro"
import LinkedIn from "./icons/socials/LinkedIn.astro"
import LinkButton from "./LinkButton.astro"

const { class: className, id } = Astro.props
const aboutMe = "A versatile programmer with a strong background in game development and porting, I have extensive experience in creating and optimizing games across multiple platforms. My adaptability allows me to switch seamlessly between languages and technologies as needed. Additionally, I have experience as a full-stack developer, contributing to mobile, web and app development projects."
---

<article id={id} class={`${className} md:max-w-4xl px-4 w-full mx-auto`}>
    <div class="flex flex-col-reverse md:flex-row justify-start items-center gap-8">
        <div class="md:w-1/2">
            <h1 class="text-4xl bg-gradient-to-r from-cyan-500 to-blue-500 text-transparent bg-clip-text">Hi, I'm <span class="font-bold">Luis Vera</span></h1>
            <p class="text-base pt-4">{aboutMe}</p>
            <div class="flex gap-2 justify-start items-center">
                <LinkButton class="mt-2" title="Contact me" href="mailto:luis.v.priego@gmail.com">
                    <Email class="size-5" />
                </LinkButton>
                <LinkButton class="mt-2" title="LinkedIn" href="https://www.linkedin.com/in/luisvera99/">
                    <LinkedIn class="size-5" />
                </LinkButton>
                <!-- <LinkButton class="mt-2" title="Get Resume" href="#">
                    <LinkedIn class="size-5" />
                </LinkButton>
                <LinkButton class="mt-2" title="Resume Online" href="#">
                    <LinkedIn class="size-5" />
                </LinkButton> -->
                <!-- <p class="text-sm opacity-35 self-end">GMT-6</p> -->
            </div>
        </div>
        <div class="w-1/4">
            <img class="rounded-3xl rotate-2 shadow-lg shadow-gray-800 skew-y-6" alt="Image generate by AI as Luis Vera" src="me_ai.webp">
        </div>
    </div>
</article>