---
const { class: className, title, id} = Astro.props
---

<section id={id} class={`${className} scroll-m-20 w-full mx-auto  md:max-w-4xl px-4`}>
    <h2 class="
    pb-12
    text-2xl font-bold
    bg-gradient-to-r from-cyan-500 to-blue-500 text-transparent bg-clip-text"
    >
    {title}
    </h2>
    <slot/>
</section>