---
import ExperienceItem from '../components/ExperienceItem.astro'

const experiences = [
    {
        date        : "Current...",
        title       : "Senior Developer",
        company     : "Bromio",
        description : "Id proident sunt proident veniam cupidatat labore et aute magna fugiat enim id do id. Mollit aliquip reprehenderit aliquip ex ea ut amet aute. Duis occaecat voluptate duis id qui aute Lorem esse amet reprehenderit sit quis. Exercitation dolore voluptate ut sint excepteur commodo ad officia ullamco. Lorem laborum nisi cupidatat minim pariatur consequat. Est nisi elit sunt sint occaecat mollit fugiat amet ut ipsum. Nostrud do laborum ea aliqua labore irure adipisicing culpa ut laboris eiusmod.",
        link        : "https://bromio.com.mx",
    },
    {
        date        : "",
        title       : "Technical Specialist",
        company     : "Colores de México",
        description : "Qui irure incididunt adipisicing minim. Amet dolore irure incididunt labore eiusmod irure. Voluptate adipisicing est irure id. Consequat nisi aute adipisicing dolore velit laboris minim labore. Ullamco culpa anim enim Lorem qui excepteur commodo enim deserunt consectetur amet esse ea dolore. Fugiat pariatur officia consectetur consectetur fugiat laborum nostrud. Mollit pariatur laborum nisi eiusmod laboris.",
        link        : "https://coloresb2b.mx",
    },
    {
        date        : "",
        title       : "Developer",
        company     : "Bromio",
        description : "Cillum veniam anim enim in esse commodo nulla.",
        link        : "https://bromio.com.mx",
    },
]
---

<ol class="relative border-s border-yellow-600">         
    {         
        experiences.map((experience) => (
        <li class="mb-10 ms-6 pt-4">      
            <ExperienceItem {...experience} />      
        </li>
        ))
    }
</ol>

