---
import ExperienceItem from '../components/ExperienceItem.astro'

const experiences = [
    {
        date        : "Current",
        title       : "Senior Developer",
        company     : "Bromio",
        description : "Responsible for porting multiple games to Nintendo, PlayStation, Xbox, and Steam platforms, while maintaining an internal framework that integrates SDKs from these platforms, reducing development time by 50%. Contributed as a full-stack developer on various projects, implementing backend systems for games and creating frontend applications for users. Adapted to different languages and engines to support diverse incoming projects.",
    },
    {
        date        : "2020",
        title       : "Technical Specialist",
        company     : "Colores de México",
        description : "Led the development of an application to support the company's operations and over 300 technicians, reducing the number of processes and files needed by 40%. Additionally, created the company website and maintained the building's security systems.",
    },
    {
        date        : "2013",
        title       : "Developer",
        company     : "Bromio",
        description : "Developed multiple mobile applications and contributed to developing a full game published on multiple platforms, including creating tools for designers to use.",
    },
]
---

<ol class="relative border-s border-blue-500">         
    {         
        experiences.map((experience) => (
        <li class="mb-10 ms-6 pt-4">      
            <ExperienceItem {...experience} />      
        </li>
        ))
    }
</ol>

