---
const navItems = [
    {
        title   : "About Me",
        label   : "about-me",
        url     : "/#about-me",
    },
    {
        title   : "Experience",
        label   : "experience",
        url     : "/#experience",
    },
    {
        title   : "Projects",
        label   : "projetcs",
        url     : "/#projects",
    },
    // {
    //     title   : "Laboratory",
    //     label   : "laboratory",
    //     url     : "/#laboratory",
    // },
    // {
    //     title   : "Contact",
    //     label   : "contact",
    //     url     : "/#contact",
    // },
]
---

<header class="fixed top-0 z-10 flex p-8 w-full mx-auto justify-center">
    <div class="flex justify-center items-center w-full max-w-4xl h-auto min-h-10 md:min-h-14 rounded-2xl border-solid bg-stone-900/30 backdrop-blur-sm text-white ">
        <!-- <div class="flex items-center justify-evenly gap-4">
            <img class="w-8 h-8 rounded-full" src="/me_ai2.webp" alt="My personal image generate by AI">
            <h3 class="text-2xl font-semibold bg-gradient-to-r from-blue-300 to-blue-800 text-transparent bg-clip-text">
                Luis Vera
            </h3>
        </div> -->
        <nav class="flex gap-3">
            {
                navItems.map((link) => (
                <a 
                class="
                relative text-sm md:text-base font-semibold w-fit block 
                after:block after:content-[''] after:absolute after:h-[3px] after:bg-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-left
                " 
                href={link.url}
                >
                    {link.title}
                </a>
                ))
            }
        </nav>
    </div>
</header>